.pioneer {
  float: left;
  margin-right: 15px;
  width: 25%;
}

.complete-article {
  @include article-quiz-layout()
}

.pioneer-article {
  p {
    line-height: 1.25;
    margin-bottom: 7px;
  }
}

@media only screen and (max-width: 685px) {
  .complete-article {
    .pioneer-article p {
      background-color: white;
      margin: 0 auto;
      padding: 15px;
      width: 288px;
      line-height: 1.5;
      margin-bottom: 15px;
    }
  }
}

@media only screen and (min-width: 686px) {
  .complete-article {
    background-color: white;
    margin-top: 28px;
    padding: 15px;
    width: 590px;
  }

  .pioneer-article p {
    line-height: 1.5;
    margin-bottom: 25px;
  }
}