.Header {
  background-color: #3498dbb3;
  height: 175px;
  overflow: hidden;
  text-align: center;
  width: 100%;
	h1 {
    color: #fff;
    font-size: 42px;
    padding-top: 45px;
    text-transform: uppercase;
  }
  h2 {
    color: #2c3e50;
    font-size: 22px;
    line-height: 2;
    text-transform: uppercase;
  }
}


@media only screen and (max-width: 685px) {
  .Header {
    background-color: #3498dbb3;
    height: 105px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    h1 {
      color: #fff;
      font-size: 24px;
      padding-top: 22px;
      text-transform: uppercase;
    }
    h2 {
      color: #2c3e50;
      font-size: 14px;
      line-height: 2;
      margin-top: 8px;
      text-transform: uppercase;
    }
  }
}