.pioneer-img {
  background-size: cover;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 3px;
  padding: 20px;
  width: 70%;
}

.pioneer-card {
  align-items: center;
  background-color: #ecf0f1;
  border-radius: 25px;
  box-shadow: 0px 0px 5px 0px #00000070;
  display: flex;
  flex-direction: column;
  height: 310px;
  margin-top: 25px;
  opacity: 1;
  width: 240px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button-quiz {
  @include buttons(#3498dbb3);
  margin-left: 50px;
}

.button-back {
  @include buttons(#ad0008);
  margin-right: 50px;
}

.pioneer-layout {
  @include article-quiz-layout();
  p {
    margin-top: -7px;
    text-align: center;
  }
}

.individual-pioneers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

@media only screen and (max-width: 685px) {
  .pioneer-layout {
    background-color: white;
    box-shadow: 0px 0px 5px 0px #00000070;
    margin: 0 auto;
    width: 290px;
  }
  .pioneer-card {
    align-items: center;
    background-color: #ecf0f1;
    box-shadow: 0px 0px 5px 0px #00000070;
    display: flex;
    flex-direction: column;
    height: 410px;
    margin-top: 14px;
    opacity: 1;
    width: 100%;
  }
}

@media only screen and (min-width: 686px) {
  .pioneer-layout {
    width: 589px;
  }
  .individual-pioneers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-left: 37px;
  }
}
  
@media only screen and (min-width: 1200px) {
  .pioneer-layout {
    width: 1036px;
  }
}

@media only screen and (min-width: 1074px) {
  .pioneer-layout {
      width: 822px;
  }
}