.pioneer-img {
  width: 25%;
  background-size: cover;
  cursor: pointer;
  padding: 20px;
}

.contain-pioneers {
  display: grid;
  flex-direction: column;
}

.pioneer-card {
  opacity: 1;
  border-radius: 25px;
  margin-top: 25px;
  box-shadow: 0px 0px 5px 0px #00000070;
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button-quiz {
  @include buttons(#3498dbb3);
  margin-left: 50px;
}

.button-back {
  @include buttons(#ad0008);
  margin-right: 50px;
}

.pioneer-layout {
  @include article-quiz-layout();
  p {
    text-align: center;
  }
}