.pioneer-img {
  width: 50%;
  background-size: cover;
  cursor: pointer;
}

.contain-pioneers {
  display: grid;
  flex-direction: column;
}

.pioneer-card {
  position: relative;
  flex-wrap: flex;
  justify-content: space-between;
  margin-left: 8px;
  margin-right: 8px;
  opacity: 1;
  border-radius: 25px;
  margin-top: 25px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button-quiz {
  @include buttons(#3498dbb3);
  margin-left: 50px;
}

.button-back {
  @include buttons(#ad0008);
  margin-right: 50px;
}