.button-quiz {
  @include buttons(#3498dbb3);
  margin-left: 50px;
}

.button-back {
  @include buttons(#ad0008);
  margin-right: 50px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.article-layout {
  @include article-quiz-layout();
  p {
    line-height: 1.25;
    margin-bottom: 7px;
    text-align: center;
  }
}

.article-layout-correct {
  @include article-quiz-layout();
  p {
    line-height: 1.25;
    margin-bottom: 7px;
    text-align: center;
  }
}

.button-quiz-correct {
  @include buttons(#3498dbb3);
  display: flex;
  justify-content: center;
}

.button-container-correct {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 805px) {
  .article-layout {
    background-color: white;
    box-shadow: 0px 0px 5px 0px #00000070;
    margin-top: 0;
    padding: 15px;
    width: 290px;
  }
}

@media only screen and (min-width: 686px) {
  .article-layout {
    margin-top: 20px;
  }
  .article-layout-correct {
    padding: 17px;  
    width: 372px;
  }
}

@media only screen and (max-width: 685px) {
  .article-layout {
    background-color: white;
    box-shadow: 0px 0px 5px 0px #00000070;
    margin-top: 0;
    padding: 15px;
    width: 290px;
  }
  .article-layout-correct {
    background-color: white;
    box-shadow: 0px 0px 5px 0px #00000070;
    margin-top: 20px;
    margin: 0 auto;
    padding: 17px;
    width: 372px;
  }
}